@{
    ViewData["Title"] = "Результат теста";
}

<div class="top-content">

    <a href="~/" class="btn btn-secondary">К тестам</a>

    <div class="container pt-5">
        <div class="d-flex flex-column align-items-center">
            <h2>Тесты / Имя категории</h2>
            <h1>Название теста</h1>
        </div>
    </div>
</div>

<div class="middle-content">
    <div class='container pt-5'>
        <h1>Ваши результаты</h1>
        <p>
            Вы правильно ответили только на 6 из 23 вопросов. Это может говорить о серьезных нарушениях в вашем цветовосприятии и наличии какого-либо вида дальтонизма. Обязательно обратитесь к специалисту в ближайшее время. Это нельзя откладывать.
            В данном тесте есть несколько картинок, которые одинаково хорошо видят как люди с нормальным цветовосприятием, так и люди с разными видами дальтонизма. Среди этих картинок вы допустили ошибку. Это говорит либо о вашей крайней невнимательности и несерьезности в прохождении теста, либо Вы – симулянт и специально ответили неверно. Попробуйте пройти тест еще раз.
        </p>
    </div>
</div> 