@model courseProject.Models.ResultTest;

@{
    ViewData["Title"] = "Результат теста";
}

<div class="top-content">

    <a href="~/" class="btn btn-secondary">К тестам</a>

    <div class="container pt-5">
        <div class="d-flex flex-column align-items-center">
            <h2>Тесты / @ViewBag.Category.Name</h2>
            <h1>@ViewBag.Test.Name</h1>
        </div>
    </div>
</div>

<div class="middle-content">
    <div class='container pt-5'>
        <h1>Ваши результаты</h1>
        <p>@Model.Descriptions</p>
    </div>
</div> 