<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - myCourseProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Навигационная панель -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">

        <!-- Контейнер -->
        <div class="d-flex align-items-center">
            <a class="menu-btn mr-2" id="menu-btn"><span></span></a>
            <a class="navbar-brand" href="/">Логотип</a>
        </div>

        <!-- Контейнер -->
        <div class="d-flex">
            <form class="form-inline my-2 my-lg-0 mr-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Введите название..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
            <a href="./log-in.html" type="button" class="btn btn-danger">Войти</a>
        </div>
    </nav>

    <!-- Боковое меню -->
    <div class="sidebar d-none" id="sidebar">
        <ul class="categories">
            @foreach (var category in ViewBag.Categories)
            {
            <li><a class='cat-item' href="~/Home/Category/@category.Id">@category.Name</a></li>
            }
        </ul>
    </div>

    @*с помощью этого метода в это место будет подставляться разметка уже конкретных представлений.*@
    @RenderBody()

    <script src="/js/main.js"></script>
</body>
</html>